@model CatalogModel

<div class="item-product">

    <div class="thumbnail-container has-multiimage">
        <a class="w-100"  asp-page="ProductDetail" asp-route-productId="@Model.Id" tabindex="0">
            <img class="w-100 img-fluid product__thumbnail lazyloaded" data-src="~/images/product/@Model.ImageFile"  alt="@Model.Name" src="~/images/product/@Model.ImageFile" >
            <img class="w-100 img-fluid product__thumbnail-second lazyloaded" data-src="~/images/product/@Model.ImageFile"  alt="@Model.Name" src="~/images/product/@Model.ImageFile">

        </a>
    </div>
    <div class="product__info text-center">
        <div class="product__title">
            <a asp-page="ProductDetail" asp-route-productId="@Model.Id" tabindex="0">@Model.Name</a>
        </div>

        @*<div class="product__review">
            <div class="rating">
                <span class="spr-badge" id="spr_badge_5997971079331" data-rating="0.0">
                    <span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star-empty"></i><i class="spr-icon spr-icon-star-empty"></i><i class="spr-icon spr-icon-star-empty"></i></span><span class="spr-badge-caption">No reviews</span>
                </span>
            </div>
        </div>*@

        <div class="product__price">
            <!-- snippet/product-price.liquid -->
            <span class="visually-hidden">Regular price</span>
            <span class="product-price__price"><span class="money" data-currency-usd="$22.00" data-currency="USD">@Model.Price</span></span>
        </div>
        <div class="group-buttons">
            <form asp-page-handler="AddToCart" method="post" name="addToCartForm" id="add_cart_form" class="formAddToCart">
                <input type="hidden" asp-for="@Model.Id" name="productId" />
                <button class="btn btnAddToCart" type="submit" onclick="UpdateCount()" value="Submit">
                    <i class="icon-cart-product"></i>
                    <span>Add to cart</span>
                </button>
            </form>
        </div>
    </div>
</div>
