@page
@model AspnetRunBasics.CartModel
@{
    ViewData["Title"] = "Cart";
}

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Cart</li>
                </ol>
            </nav>
        </div>
    </div>
</div>


<div id="shopify-section-cart-template" class="shopify-section cart-section">
    <div class="page-width" data-section-id="cart-template" data-section-type="cart-template">
        <div class="container">

            <div class="section-header">
                <div class="title-block">Shopping Cart</div>
            </div>

            <div class="cart">
                <div class="row data-sticky_parent">
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <div class="cart__layout_left">
                            @if (Model.Cart.Items.Count > 0)
                            {
                                <div class="generic_menu cart__header d-xs-none">
                                    <div class="row spacing-0">
                                        <div class="col-md-1 label_remove"></div>
                                        <div class="col-md-5 label_product">Product</div>
                                        <div class="col-md-2 label_price">Price</div>
                                        <div class="col-md-2 label_quantity">Qty</div>
                                        <div class="col-md-2 label_total">Total</div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-warning" role="alert">
                                    Sepetinize ekli ürün bulunmamaktadır!
                                </div>
                            }

                            <div class="cart__body">


                                @foreach (var cartItem in Model.Cart.Items)
                                {
                                    <div class="row spacing-0 align-items-center line2 cart-flex cart_item nv-pl-xs-15 nv-pr-xs-15">
                                        <div class="col-md-1 cart__remove-wrapper text-center mb-xs-20">

                                            <form asp-page-handler="removetocart" method="post">
                                                <button class="cart__remove clean-btn"> <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                <input type="hidden" asp-for="@cartItem.ProductId" name="productId" />
                                            </form>

                                        </div>
                                        <div class="col-md-5 cart__image-wrapper d-flex align-items-center mb-xs-20">
                                            <a href="/collections/all/products/yiamond-palo-stud-garrings?variant=37493484355747">
                                                <img class="cart__image lazyloaded cartimagesmall" src="~/images/product/@cartItem.ImageFile" alt="Yiamond Palo Stud Garrings - ultra / red">
                                            </a>
                                            <div class="cart__meta cart-flex-item">
                                                <div class="content-left">
                                                    <div class="list-view-item__title">
                                                        <a href="/products/yiamond-palo-stud-garrings?variant=37493484355747">
                                                            @cartItem.ProductName

                                                            <span class="d-md-none"><span class="visually-hidden">Quantity</span>(x3)</span>

                                                        </a>
                                                    </div>

                                                    <div class="cart__meta-text">

                                                        <div class="tl_option mb-5">Size: ultra</div>

                                                        <div class="tl_option mb-5">Color: red</div>

                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 cart__price-wrapper mb-xs-20">
                                            <div class="hidden">Price</div>
                                            <div><span class="money" data-currency-usd="$18.00" data-currency="USD">@cartItem.Price</span></div>

                                        </div>

                                        <div class="col-md-2 cart__update-wrapper mb-xs-20">
                                            <form asp-page-handler="Update" method="post">
                                                <div class="cart__qty">
                                                    <input type="hidden" asp-for="@cartItem.ProductId" name="productId" />
                                                    <input type="button" class="js-qty__adjust minus js-qty__adjust--minus" value="-">
                                                    <input onchange="this.form.submit()" class="cart__qty-input" data-price="1800" data-line="2" type="number" name="qty" value="@cartItem.Quantity" step="1" min="1" max="50" pattern="[0-9]*" \>
                                                    <input type="button" class="js-qty__adjust plus js-qty__adjust--plus" value="+">
                                                </div>
                                            </form>


                                        </div>
                                        <div class="col-md-2 total">
                                            <div class="hidden">Total</div>


                                            <div class="product-subtotal">
                                                <span class="money" data-currency-usd="$54.00" data-currency="USD">@(cartItem.Price * cartItem.Quantity)</span>
                                            </div>

                                        </div>
                                    </div>
                                }

                            </div>
                            <div class="button_cart">

                                @if (Model.Cart.Items.Count > 0)
                                {
                                    <a asp-page="CheckOut" name="checkout" class="btn btn--small-wide">Proceed to checkout</a>
                                }
                                else
                                {
                                    <a asp-page="CheckOut" style="display: none;" name="checkout" class="btn btn--small-wide">Proceed to checkout</a>
                                }
                                <a asp-page="Product" class="btn cart__update cart__continue--large">Continue shopping</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 data-sticky_column mt-md-40">
                        <div class="cart__layout_right">
                            <div class="grid">
                                <div class="grid__item">
                                    <div class="cart__total d-flex align-items-center justify-content-between">
                                        <span class="cart__subtotal-title">Total:</span>
                                        <span class="cart__subtotal"><span class="money" data-currency-usd="$157.00" data-currency="USD">@Model.Cart.TotalPrice  TL</span></span>
                                    </div>

                                    <div class="cart__shipping d-flex align-items-xl-center justify-content-between">
                                        <div class="cart__shipping-title">Shipping :</div>
                                        <div class="cart__shipping-sub">Shipping &amp; taxes calculated at checkout</div>
                                    </div>
                                    @if (Model.Cart.TotalPrice < 200)
                                    {
                                        <div id="threshold_bar_popup">
                                            <div class="threshold_it">
                                                <div class="ic_threshold_bar">
                                                    <i class="zmdi zmdi-truck"></i>
                                                </div>
                                                <div class="threshold_bar">
                                                    <span class="animate" style="width:@(((int)((Model.Cart.TotalPrice * 100) / 200)).ToString()+"%") !important">
                                                        @(((Model.Cart.TotalPrice * 100) / 200).ToString()+"%")
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="threshold_spend">Spend <span class="money" data-currency-usd="43.00" data-currency="USD">@(200 - Model.Cart.TotalPrice)</span> for free shipping</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="threshold_bar_popup">
                                            <div class="threshold_it">
                                                <div class="ic_threshold_bar">
                                                    <i class="zmdi zmdi-truck"></i>
                                                </div>
                                                <div class="threshold_bar">
                                                    <span class="animate" style="width:100%!important">
                                                        100%
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <div class="cart-notice-total">
                                        Free shipping for any orders above <span><span class="money" data-currency-usd="200.00 TL" data-currency="USD">200.00 TL</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>