@page
@model AspnetRunBasics.ProductModel
@{
    ViewData["Title"] = "Product";
}

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-page="Product">Category</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@Model.SelectedCategory</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            @if (TempData["BasketInfo"] != null)
            {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>@TempData["BasketInfo"].ToString()</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <!--<div class="modal fade" id="myModal" role="dialog">-->
                    <!--<div class="modal-dialog">-->

                        <!-- Modal content-->
                        <!--<div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Modal Header</h4>
                            </div>
                            <div class="modal-body">
                                <p>Some text in the modal.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>-->
            </div>
            }
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3 generic_menu">
            <div class="card bg-light mb-3 list-group">
                <a asp-page="Product" class="list-group-item list-group-item-action @( Model.SelectedCategory == "Tüm Ürünler"?"active":"" )"><i class="fa fa-list"></i> Tüm Ürünler</a>
                <ul class="list-group category_block">

                    @foreach (var category in Model.CategoryList)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center @( Model.SelectedCategory == category?"active":"" )">
                            <a asp-page="Product" asp-route-categoryName="@category">@category</a>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="col">
            <div class="row grid--view-items row nov-slick-carousel slick-initialized slick-slider">

                @foreach (var product in Model.ProductList)
                {
                    <div class="col-12 col-md-6 col-lg-4">
                        <partial name="_ProductItemPartial" model="@product" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="container mobil_destop">
    <div class="row">
        <div class="col">
            <div class="productbar">
                <div class="productbar-container">

                    <h3>Tüm Ürünler</h3>
                    <div class="productlinks">
                        @foreach (var category in Model.CategoryList)
                        {
                            @if (category == Model.SelectedCategory)
                            {
                                <a asp-page="Product" asp-route-categoryName="@category"> <strong>» @category</strong></a>
                            }
                            else
                            {
                                <a asp-page="Product" asp-route-categoryName="@category">» @category</a>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



