@page
@model AspnetRunBasics.ProductModel
@{
    ViewData["Title"] = "Product";
}

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-page="Product">Category</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@Model.SelectedCategory</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            @if (TempData["BasketInfo"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@TempData["BasketInfo"].ToString()</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
        </div>
    </div>
</div>


<main class="main-content" id="MainContent">
    <section class="page-container" id="PageContainer">
        <div class="page-width">
            <div class="container">
                <div class="row">
                    <div class="sidebar sidebar-collection col-lg-3 col-md-4 flex-xs-unordered">
                        <div id="shopify-section-nov-sidebar" class="shopify-section">
                            <div class="close-filter"><i class="zmdi zmdi-close"></i></div>

                            <div class="categories__sidebar sidebar-block sidebar-block__1">

                                <div class="title-block mb-30">
                                    Tüm Ürünler
                                </div>

                                <ul class="list-unstyled">

                                    @foreach (var category in Model.CategoryList)
                                    {
                                    <li class="d-flex mb-10 @( Model.SelectedCategory == category?"is-active":"" )">
                                        <a asp-page="Product" asp-route-categoryName="@category" title="Bread">@category</a>
                                        <span class="count_all">24</span>
                                    </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-12 flex-xs-first">
                        <div id="shopify-section-collection-template" class="shopify-section">
                            <div class="row collection-view-items view_3 grid--view-items">
                                <div class="col">
                                    <div class="row grid--view-items row nov-slick-carousel slick-initialized slick-slider">

                                        @foreach (var product in Model.ProductList)
                                        {
                                            <div class="col-12 col-md-6 col-lg-4">
                                                <partial name="_ProductItemPartial" model="@product" />
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
